.headerContainer {
  height: 60px;
  width: 100%;
  background-color: #cbd5e1;
  color: #64748b;
  font-family: Roboto;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerHeading {
  font-size: 28px;
}
